* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-green: #51FF3D;
    --overlay-color: rgba(0, 0, 0, 0.15);
}

.wrapper {
    max-width: 1400px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000;
    text-transform: uppercase;
}

.logo {
    transform: scale(0.);
    -webkit-transform: scale(0.4);
    scale: (0.4);
    -moz-transform: scale(0.);
    scale: (0.4);
    -ms-transform: scale(0.);
    scale: (0.4);
    -o-transform: scale(0.);
    scale: (0.4);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: .9rem;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 5px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

hr {
    display: none;
}

.underline {
    display: inline-block;
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 7px;
    bottom: -7px;
    left: 0;
    background-color: var(--main-green);
    transform-origin: bottom right;
    transition: transform 0.18s ease-out;
}

.underline:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Jumbotron */
#lead-banner img {
    width: 100%;
    background: no-repeat center center;
}

#lead-banner {
    height: 88.9vh;
    overflow: hidden;
    position: relative;
}

.banner-overlay {
    position: absolute;
    top: 27%;
    width: 100%;
    
}

.banner-title {
    color: #fff;
    max-width: 440px;
    font-size: 1.2rem;
}

#lead-banner p {
    /* font-size: .8rem; */
    font-style: italic;
    margin-top: 1rem;
    max-width: 350px;
}

.hello {
    border: 1px solid #fff;
    font-size: 1.5rem;
    background: none;
    padding: 8px 16px;
    line-height: 100%;
    text-decoration: none;
    margin-top: 1.4rem;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    letter-spacing: 2px;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    cursor: pointer;
}

.hello a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: .6em;
    
}

.columns {
    display: flex;
}

.columns .ideas {
    font-weight: 700;
    max-width: 380px;
    flex: 2;
    padding: 4rem;
    margin: 7rem;
    font-size: 1.2rem;
}

.columns .paragraph {
    /* max-width: 320px; */
    flex: 2;
    padding: 4rem;
    margin: 7rem;
    font-style: italic;
    color: rgb(146, 140, 140);
    font-size: .9em;
    max-width: 480px;
    font-size: 1.2rem;
}

/* Gallery */
.gallery-section .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*overflow: hidden;*/
    
}

.gallery-section .gallery a:nth-child(1) {
    grid-row: 1/3;
    grid-column: 1/4;
}

.gallery-section .gallery a:nth-child(2) {
    grid-row: 1/2;
    grid-column: 4/5;
}


.cases {
    text-align: center;
    margin-bottom: 2rem;
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -ms-transition: .6s;
    -o-transition: .6s;
}

.hello2 {
    border: 1px solid grey;
    font-size: 3rem;
    background: none;
    padding: 0px 16px;
    line-height: 100%;
    text-decoration: none;
    margin-top: 4rem;
    border-radius: 50px;
}

.hello2 a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: .4em;
    color: grey;
}

/* Clients */

.clients {
    margin: 6rem;
    position: relative;
    height: 50vh;
}

.clients h2 {
    position: absolute;
    top: -30px;
    left: 150px;
    color: grey;
    font-size: .8em;
    text-transform: uppercase;
    padding: 8px;
    font-weight: 100;
    letter-spacing: 1px;
}

.clients h3 {
    position: absolute;
    top: 200px;
    left: 460px;
    z-index: 2;
    font-size: 1.4em;
}

.clients h4 {
    position: absolute;
    top: 250px;
    left: 460px;
    text-transform: uppercase;
    color: grey;
    font-weight: 400;
    font-size: .8em;
}

.clients img {
    position: absolute;
    left: 270px;
    top: 90px;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}

.clients .testimonial {
    position: absolute;
    top: 250px;
    left: 160px;
    transform: scale(.8);
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}

.clients blockquote {
    position: absolute;
    top: 300px;
    left: 460px;
    width: 500px;
    color: grey;
    font-style: italic;
    font-size: 1.2em;
}

    
.bmb-container {
    margin-top: 37rem;
}

.footer p {
    text-decoration: none;
    margin-bottom: 0;
}

footer h6 {
    font-weight: bold;
    font-size: 14px;
    
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu li{
    list-style: none;
    margin-top: 2rem;
}

.row {
    height: 40vh;
    background-color: rgb(37, 37, 37);
    width: 100%;
    color: #fff;
    padding: 0;
    margin: 0;
}

.row div {
    padding: 0 4rem;
}

.row h5 {
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 0;
}

.row-flex {
    display: flex;
}

.row-flex div {
    padding: 0;
}

h5 {
    background-color: rgb(37, 37, 37);
    width: 100%;
    color: #fff;
    padding: 2rem;
    margin: 0;
    padding-left: 12rem;
}

#bmb-footer {
    margin: 1.5rem;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    .hello {
        
    }
        
    .nav-links {
        position: absolute;
        right: 0;
        height: 50vh;
        top: 9vh;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: transform .5s ease-in;
        -webkit-transition: transform .5s ease-in;
        -moz-transition: transform .5s ease-in;
        -ms-transition: transform .5s ease-in;
        -o-transition: transform .5s ease-in;
        z-index: 99;
    }

    .nav-links li {
        opacity: 0;

    }

    .nav-links a {
        letter-spacing: 1px;
        font-size: 1.2em;
        cursor: default;
    }

    .burger {
        display: block;
    }


    .nav-active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
            -webkit-transform: translateX(50px);
            -moz-transform: translateX(50px);
            -ms-transform: translateX(50px);
            -o-transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            -moz-transform: translateX(0px);
            -ms-transform: translateX(0px);
            -o-transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
        -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        -moz-transform: rotate(-45deg) translate(-5px, 6px);
        -ms-transform: rotate(-45deg) translate(-5px, 6px);
        -o-transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
        -webkit-transform: rotate(45deg) translate(-5px, -6px);
        -moz-transform: rotate(45deg) translate(-5px, -6px);
        -ms-transform: rotate(45deg) translate(-5px, -6px);
        -o-transform: rotate(45deg) translate(-5px, -6px);
    }
    .underline::before {
        display: none;
    }
    .row {
        height: 180vh;
    }
    .row div {
        margin-bottom: 6rem;
    }
    .columns {
        display: flex;
        flex-direction: column;
    }
    .columns .ideas,
    .columns .paragraph {
        min-width: 400px;
    }
    #lead-banner {
        height: 30vh;
    }
    #lead-banner button {
        font-size: .6em;
        text-align: center;
    }
    #lead-banner h1 {
        font-size: .9em;
    }
    #lead-banner p {
        font-size: .7em;
    }
    
    #bmb-footer {
        margin: 1.5rem;
        margin-top: 20rem;
        position: relative;
    }

    footer {
        position: absolute;
        top: 40rem;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
        
    }
    .row-flex div img {
        width: 100%;
    }
}